<form action="/admin/add-product" method="post">
  <div class="form-container">
    <input type="text" class="input" placeholder="Product Name" name="title" />
    <input type="number" class="input" placeholder="Price" name="price" />
    <textarea
      type="text"
      class="input"
      placeholder="Description"
      name="description"
    ></textarea>
    <input type="text" class="input" placeholder="Image Url" name="imgUrl" />
    <button type="submit" class="button">Submit</button>
  </div>
</form>