
    <form action="/admin/product" method="post">
      <div class="form-container">
        <input
          type="text"
          class="input"
          placeholder="Product Name"
          name="product"
        />
        <input type="number" class="input" placeholder="Price" name="qty" />
        <button type="submit" class="button">Submit</button>
      </div>
    </form>
