<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add-product</title>
    <link rel="stylesheet" href="/css/globals.css" />
</head>

<body>
    <form action="/product" method="POST">
        <div class="form-container">
            <input type="text" name="product" class="input" placeholder="enter product"><br />
            <input type="number" name="qty" class="input" placeholder="enter quantity"><br />
            <button type="submit" class="button">Add Product</button>
        </div>
    </form>
</body>

</html>